<?xml version='1.0' encoding='utf-8'?>

<!--
    Commented out declaration searches for DTD having URI at http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd
    which does not match the one available in jar i.e. http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd 
    Reference:
    https://forum.hibernate.org/viewtopic.php?f=1&t=943281&start=0
    http://stackoverflow.com/questions/4738817/error-in-hibernate-cfg-xml  
 -->
 
 <!-- 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        				"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 -->
 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">        				
        				
                       
<hibernate-configuration>
	<!-- SessionFactory is a global factory responsible for a particular database. -->
	<session-factory>
		<!-- DB Connection Settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<!-- training_models_annotations_test schema must be created prior running the application  -->
		<property name="connection.url">jdbc:postgresql://localhost:5432/training_models_annotations_test</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">root</property>
		
		<!-- JDBC Connection Pool -->
		<property name="connection.pool_size">1</property>
		
		<!-- specifies the particular SQL variant Hibernate generates.  -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		
		<!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
         <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="com.botreeconsulting.lms.model.Author"/>
        <mapping class="com.botreeconsulting.lms.model.Book"/>
        <mapping class="com.botreeconsulting.lms.model.Category"/>
        <mapping class="com.botreeconsulting.lms.model.Publisher"/>
        <mapping class="com.botreeconsulting.lms.model.User"/>
		
	</session-factory>
</hibernate-configuration>